@using Eshop.Data
@using Microsoft.AspNetCore.Identity
@model IEnumerable<Eshop.Models.Product>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject EshopContext _context;
@{
	ViewData["Title"] = "Index";
	string userid = "";



}
<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-5">
		<div class="text-center text-white">
			<h1 class="display-4 fw-bolder">Shop in style</h1>
			<p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
		</div>
	</div>
</header>


<section class="py-5">
	<div class="container px-4 px-lg-5 mt-5">
		<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

			@if (SignInManager.IsSignedIn(User))
			{



				string userName = User.Identity?.Name;


				var id = _context.Users.Where(a => a.UserName == userName).ToList();
				userid = id[0].Id;
				var backetId = _context.Baskets.Single(a => a.UserID == userid).Id;

				@foreach (var item in id)
				{
					@User.Identity?.Name
					string temp = " ";
					@temp
					@item.Id
				}

				var correctBasket = _context.Baskets.Where(basket => basket.UserID == userid).ToList();
				if (correctBasket != null)
				{
					@foreach (var item in Model)
					{


						int hasproduct;
						try
						{
							hasproduct = _context.BasketProduct.Where(b => b.BasketId == backetId).Single(b => b.ProductId == item.Id).ProductId;


							<div class="col mb-5">
								<div class="card h-100">
									<!-- Product image-->
					<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
									<!-- Product details-->
					<div class="card-body p-4">
										<div class="text-center">
											<!-- Product name-->
							<h5 class="fw-bolder">@Html.DisplayFor(modelItem => item.Name)</h5>
											<!-- Product price-->
											$@Html.DisplayFor(modelItem => item.Price)
										</div>
									</div>

									<form method="post" asp-controller="Products" asp-action="AddToBasket" asp-route-id="@item.Id">
										<div type="submit" class="card-footer p-4 pt-0 border-top-0 bg-transparent">
											<div class="text-center">
												<input class="btn btn-dark mt-auto" type="submit" value="Added" />
											</div>
										</div>
									</form>

								</div>
							</div>
							@*<form method="post" asp-controller="Products" asp-action="AddToBasket" asp-route-id="@item.Id">
								<div type="submit" class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center">
								<input class="btn btn-outline-dark mt-auto" type="submit" value="Add to cart" />
								</div>
								</div>
								</form>*@
						}


						catch (System.InvalidOperationException)
						{

							<div class="col mb-5">
								<div class="card h-100">
									<!-- Product image-->
					<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
									<!-- Product details-->
					<div class="card-body p-4">
										<div class="text-center">
											<!-- Product name-->
							<h5 class="fw-bolder">@Html.DisplayFor(modelItem => item.Name)</h5>
											<!-- Product price-->
											$@Html.DisplayFor(modelItem => item.Price)
										</div>
									</div>
									<form method="post" asp-controller="Products" asp-action="AddToBasket" asp-route-id="@item.Id">
										<div type="submit" class="card-footer p-4 pt-0 border-top-0 bg-transparent">
											<div class="text-center">
												<input class="btn btn-outline-dark mt-auto" type="submit" value="Add to cart" />
											</div>
										</div>
									</form>


								</div>
							</div>


							Console.WriteLine("The collection does not contain exactly one element.");
						}





					}

				}




			}
			else
			{
				@foreach (var item in Model)
				{

					<div class="col mb-5">
						<div class="card h-100">
							<!-- Product image-->
					<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
							<!-- Product details-->
					<div class="card-body p-4">
								<div class="text-center">
									<!-- Product name-->
							<h5 class="fw-bolder">@Html.DisplayFor(modelItem => item.Name)</h5>
									<!-- Product price-->
									$@Html.DisplayFor(modelItem => item.Price)
								</div>
							</div>
							<!-- Product actions-->
							@{
								//if (item.BasketID == 0)
					//{

								<form method="post" asp-controller="Products" asp-action="AddToBasket" asp-route-id="@item.Id">
									<div type="submit" class="card-footer p-4 pt-0 border-top-0 bg-transparent">
										<div class="text-center">
											<input class="btn btn-outline-dark mt-auto" type="submit" value="Add to cart" />
										</div>
									</div>
								</form>
								//}
								//else
								//{
								//<form method="post" asp-controller="Products" asp-action="AddToBasket" asp-route-id="@item.ProductID">
								//	<div type="submit" class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								//		<div class="text-center">
								//			<input class="btn btn-dark mt-auto" type="submit" value="Added" />
								//		</div>
								//	</div>
								//</form>
					//}
							}
						</div>
					</div>
				}


			}




		</div>
	</div>
</section>